.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Escuro com 50% opacidade */
  z-index: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
}

.container > *:not(.overlay) {
  position: relative;
  z-index: 2;
}

.container h1 {
  font-size: 84px;
}
header {
  text-align: center;
}

.SectionButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
