.MainButton {
  padding: 30px 100px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.MainButton:hover {
  transform: scale(1.05);
  transition: all 0.6s;
}

.primary {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.secondary {
  background-color: #f0f0f0;
  color: #333;
}
